{{- $filename := .Get 0 -}}
{{- $caption := .Get 1 -}}
{{- $slug := .Page.File.ContentBaseName -}}
{{- if eq $slug "index" -}}
  {{- $slug = .Page.File.Dir | path.Clean | path.Base -}}
{{- end -}}
{{- $mediaBase := .Site.Params.mediaBaseURL -}}
<figure class="media-figure">
  <audio controls preload="metadata">
    <source src="{{ $mediaBase }}/films/{{ $slug }}/{{ $filename }}" />
    Votre navigateur ne supporte pas la lecture audio.
  </audio>
  {{- if $caption }}
  <figcaption>{{ $caption }}</figcaption>
  {{- end }}
</figure>
